<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Data Mahasiswa
    </ion-title>

    <!-- Tombol biasa di Header -->
    <ion-buttons slot="end">
      <ion-button routerLink="/tambah-mhs">Tambah Mahasiswa</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let mhs of dataMahasiswa" [routerLink]="['/detail', mhs.id]" detail="true">
      <ion-label>
        <h2>{{ mhs.nama }}</h2>
        <p>Prodi: {{ mhs.jurusan }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- menambahkan button tambah melayang -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/tambah-mhs">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
